


      <div class="inner-form">
        <div class="input-field second-wrap">
          <input id="search" type="text" name="search" placeholder="Enter skills  |  designation | company" />
        </div>
        <div class="input-field first-wrap">
          <div class="input-select">
            <select data-trigger="" id="job_type" name="job_type">
              <option value="" disabled selected>Select Job Type</option>
              <option value="Full-Time">Full Time</option>
              <option value="Part-Time">Part Time</option>
              <option value="Internship">Internship </option>
            </select>
          </div>
        </div>
        <div class="input-field second-wrap">
          <input id="search" type="text" name="location" placeholder="Enter location" />
        </div>
        <div class="input-field third-wrap">
          <button class="btn-search" type="submit">Search</button>
        </div>
      </div>

   