
{% load static %}
{% load widget_tweaks %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  {% block title %}
  {% if request.user.is_admin %}
      <title>Welcome To | Admin Dashboard</title>
  {% else %}
      <title>Welcome To | Dashboard</title>
  {% endif %}
  {% endblock %}
  
  
  
 
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  {% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'css/quill/quill.snow.css' %} " rel="stylesheet">
  <link href="{% static 'css/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'css/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'css/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/css/style.css' %}" rel="stylesheet">

{% block style %}

{% endblock  %}
  
 
</head>

<body>

  <!-- ======= Header ======= -->

{% block header %}
{% if request.user.is_admin %}
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{% static 'img/img/setadmin.png' %}" alt="">
                {% comment %} <span class="d-none d-lg-block">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</span> {% endcomment %}
                <span class="d-none d-lg-block">Admin Control</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        
    <!-- Search Area start -->
            {% block search %}
            {% endblock search %} <!-- Search Area end -->

        <!-- navbar start -->
            <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">{{ notification_count }}</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                    {% if notification_count %}
                    You have {{notification_count}} new notifications
                    {% else %}
                    You have no new notifications
                    {% endif %}
                    <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    {% for notification in notification_count %}
                    <li class="notification-item">
                    {% if notification.type == 'warning' %}
                            <i class="bi bi-exclamation-circle text-warning"></i>
                        {% elif notification.type == 'error' %}
                            <i class="bi bi-x-circle text-danger"></i>
                        {% elif notification.type == 'success' %}
                            <i class="bi bi-check-circle text-success"></i>
                        {% elif notification.type == 'info' %}
                            <i class="bi bi-info-circle text-primary"></i>
                        {% endif %}
                    
                    <div>
                        <h4>{{ notification.title}}</h4>
                        <p>{{notification.message}}</p>
                        <p>{{notification.time_stamp}}</p>
                    </div>
                    </li>

                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    {% endfor %}
                    

                

                
                    <li class="dropdown-footer">
                    <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

                </li>
                <!-- End Notification Nav -->

            {% block sendToreciveemp %}
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" id="messagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number"></span>
                </a>
                <!-- End Messages Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" aria-labelledby="messagesDropdown">
                    <li class="dropdown-header">
                        You have <span id="newMessagesCount"></span> new messages
                        <a href="#" data-bs-toggle="modal" data-bs-target="#sendMessageModal">
                            <span class="badge rounded-pill bg-primary p-2 ms-2"></span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- Messages will be loaded here via AJAX -->
                    <div id="messagesContainer">
                        <!-- Messages will be dynamically inserted here -->
                    </div>
                    <li class="dropdown-footer">
                        {% comment %} <a href="{% url 'chat' %}">Show all messages</a> {% endcomment %}
                        <a href="{% url 'create_chat_room' user_id=user.id %}">Start Chat</a>
                        <a href="{% url 'messages'  %}">Start Chat to user</a>

                    </li>
                </ul><!-- End Messages Dropdown Items -->
            </li>
            
        
            
            
            
            
            
            {% endblock %}

            
            
                <!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    {% comment %} {% if request.user.profile.profile_picture %} {% endcomment %}
                        {% comment %} <img src="{{ request.user.profile.profile_picture.url }}" alt="Profile" class="rounded-circle"> {% endcomment %}
                    {% comment %} {% else %} {% endcomment %}
                        <img src="{% static 'img/dashboard/admin.png' %}" alt="Default Profile Picture">
                    {% comment %} {% endif %} {% endcomment %}
                    
                    <span class="d-none d-md-block dropdown-toggle ps-2">Admin </span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                    <h6>{{ request.user.email}}</h6>
                    <span>Admin Control</span>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile" %}">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile" %}">
                        <i class="bi bi-gear"></i>
                        <span>Account Settings</span>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url "logoutdone" %}">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
            </nav><!--  navbar end -->

    </header>
  {% endif %}

  {% endblock header %}

  <!----------------------------------Sidebar Start job seeeker-------------------------------------------------->
  
  {% block sidebar %}
  {% if request.user.is_admin %} 
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    

    <li class="nav-item">
      <a class="nav-link collapsed"  href="">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Home</span>
      </a>
    </li>
    <!------------------cms section------------------------->
    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="{% url "jobseeker_dash" %}">
          <i class="bi bi-bar-chart"></i><span>CMS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url "headersection" %}">
              <i class="bi bi-circle"></i><span>Header</span>
            </a>
          </li>
          <li>
            <a href="{% url "section_first" %}">
              <i class="bi bi-circle"></i><span>Section1</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section2</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section3</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section4</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section5</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section6</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section7</span>
            </a>
          </li>
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Section8</span>
            </a>
          </li>
    
        </ul>
    </li>
    <!------------------cms section------------------------->
    <li class="nav-item">
        <a class="nav-link collapsed"  href="">
          <i class="bi bi-journal-text"></i> <i class=""></i><span>User Management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed"  href="">
            <i class="bi bi-journal-text"></i> <i class=""></i><span>Job Management</span>
        </a>
    </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="">
          <i class="bi bi-journal-text"></i> <i class=""></i><span>Company Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="">
          <i class="bi bi-journal-text"></i> <i class=""></i><span>Status Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="">
          <i class="bi bi-journal-text"></i> <i class=""></i><span>Home</span>
        </a>
      </li>

     
  

  
      
      
      

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="{% url "jobseeker_dash" %}">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html">
            <i class="bi bi-circle"></i><span>Chart.js</span>
          </a>
        </li>
  
      </ul>
    </li>
    <!-- End Charts Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "update_profile_job" %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li> {% endcomment %}
    <!-- End F.A.Q Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li> {% endcomment %}
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "register_seeker" %}">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "login_user" %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->

  </ul>

</aside>
<!-- ------------------------------------------- Sidebar employer---------------------------------------------- -->
{% elif request.user.is_employer %}
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "jobseeker_dash" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Home</span>
      </a>
     
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "update_company" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Company</span>
      </a>
     
    </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "create_job_post" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Job post</span>
        </a>

      </li>
   
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "manage_jobs" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Manage Jobs</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "job_application_list_stats" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Job Application List</span>
        </a>

      </li>
     

    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "jobseeker_dash" %}">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html">
            <i class="bi bi-circle"></i><span>Chart.js</span>
          </a>
        </li>
        
        {% comment %} <li>
          <a href="charts-echarts.html">
            <i class="bi bi-circle"></i><span>ECharts</span>
          </a>
        </li> {% endcomment %}
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "update_profile" %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li> {% endcomment %}
    <!-- End F.A.Q Page Nav -->

   

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "register_employer" %}">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "login_user" %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li><!-- End Blank Page Nav -->

  </ul>

</aside>
{% endif %}
  {% endblock  %}

  <!--------------------------------------------------sidebar end both case-------------------------------------------------------------->

  

  {% block main %}
  <main id="main" class="main">
    
  
      
      <section class="section profile">
          <div class="ever">

<!---------------------------------------message part---------------------------------------------->
            {% for message in messages %}
                {% if "update_company" in message.tags %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
<!---------------------------------------message part end ---------------------------------------------->

              <h2 style="text-align: center; color: black; font-size: 40px;">Social icons Footer</h2>
                  <form action="" id="contact-form" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    
                    <div>
                        <label for="company">Title</label>
                        {% render_field form.title class="form-control"  %}
                    </div>
                    <div>
                      <label for="company">URL</label>
                      {% render_field form.url_icon class="form-control"  %}
                    </div>
                   
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
                  </form>
          </div>
      </section>
  </main> 
  {% endblock %} 
  {% block footer %}
  <footer id="footer" class="footer">
  </footer><!-- End Footer -->
  {% endblock footer %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  {% block script %}
<script src="{% static 'js/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/quill/quill.js'  %}"></script>
<script src="{% static 'js/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/php-email-form/validate.js' %} "></script>
<script src="{% static 'js/js/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault(); 
            Swal.fire({
                title: "Added SuccessFully!",
                text: "You clicked the button!",
                icon: "success",
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok (:'
               }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit();
                }
            });
        });
    });
</script> 

  {% endblock  %}
  

</body>

</html>