
{% load static %}
{% load widget_tweaks %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  {% block title %}
  {% if request.user.is_jobseeker %}
      <title>Welcome To | Jobseeker Dashboard</title>
  {% elif request.user.is_employer %}
      <title>Welcome To | Employer Dashboard</title>
  {% else %}
      <title>Welcome To | Dashboard</title>
  {% endif %}
  {% endblock %}
  
  
  
 
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  {% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'css/quill/quill.snow.css' %} " rel="stylesheet">
  <link href="{% static 'css/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'css/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'css/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/css/style.css' %}" rel="stylesheet">

{% block style %}

{% endblock  %}
  
 
</head>

<body>

  <!-- ======= Header ======= -->

{% block header %}
{% if request.user.is_jobseeker%}
  
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">{{ request.user.jobseeker_profile.first_name }} {{ request.user.jobseeker_profile.last_name }}</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    {% block search1 %}

    {% endblock search1 %}
  
   

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 7 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

{% block sendTorecive %}

<li class="nav-item dropdown">
  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
      <i class="bi bi-chat-left-text"></i>
      <span class="badge bg-success badge-number">{{ messages.count }}</span>
  </a><!-- End Messages Icon -->

  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
      <li class="dropdown-header">
          You have {{ messages.count }} new messages
          <a href="#" data-bs-toggle="modal" data-bs-target="#sendMessageModal"><span class="badge rounded-pill bg-primary p-2 ms-2">Send </span></a>
      </li>
      <li>
          <hr class="dropdown-divider">
      </li>

      <!-- List of Messages -->
      {% for message in messages %}
      <li class="message-item">
          <a href="#">
              <img src="{{ message.sender.img.url}}" alt="" class="rounded-circle">
              <div>
                  <h4>{{ message.sender.username }}</h4>
                  <p>{{ message.message }}</p>
                  <p>{{ message.timestamp }}</p>
              </div>
          </a>
          <a href="#"  data-bs-toggle="modal" data-bs-target="#sendMessageModal"><span class="badge rounded-pill bg-primary p-2 ms-2">Send</span></a>
      </li>
      <li>
          <hr class="dropdown-divider">
      </li>
      {% endfor %}

      <li class="dropdown-footer">
          <a href="#">Show all messages</a>
      </li>
  </ul><!-- End Messages Dropdown Items -->
</li>
<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="sendMessageModalLabel">Send Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form id="sendMessageForm">
              <div class="modal-body">
                  <input type="hidden" name="receiver_id" id="receiver_id" value="">
                  <div class="form-group">
                      <label for="message">Message:</label>
                      <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Send message</button>
              </div>
          </form>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#sendMessageForm').on('submit', function(event) {
          event.preventDefault();  
          
          var receiver_id = $('#receiver_id').val();
          var message = $('#message').val();
          
          $.ajax({
              type: 'POST',
              url: '/send_message/',  
              data: {
                  'receiver_id': receiver_id,
                  'message': message,
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()  
              },
              success: function(response) {
                  $('#sendMessageModal').modal('hide');  
                  
                  alert('Message sent successfully!');
              },
              error: function(error) {
                  console.log(error);
                  alert('An error occurred. Please try again.');
              }
          });
      });
  });
</script>
  
{% endblock  %}
  
        <!-- End Messages Nav -->
<!-----------------------------pop up message form------------------------------------->
<!-- Modal Popup Form -->



<!--------------------------------------------------------->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if request.user.jobseeker_profile.profile_picture %}
                   <img src="{{ request.user.jobseeker_profile.profile_picture.url }}" alt="Profile" class="rounded-circle">
            {% else %}
                   <img src="{% static 'images/faces/face28.png' %}" alt="Default Profile Picture">
            {% endif %}
            
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.jobseeker_profile.first_name }}
              {{ request.user.jobseeker_profile.last_name}}
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.jobseeker_profile.first_name }} {{ request.user.jobseeker_profile.last_name }}</h6>
              <span>{{ request.user.jobseeker_profile.title}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile_job" %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile_job" %}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "logoutdone" %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  {% elif request.user.is_employer %}
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

{% block search %}

{% endblock search %}
  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{ notification_count }}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              {% if notification_count %}
              You have {{notification_count}} new notifications
              {% else %}
              You have no new notifications
              {% endif %}
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for notification in notification_count %}
            <li class="notification-item">
              {% if notification.type == 'warning' %}
                    <i class="bi bi-exclamation-circle text-warning"></i>
                {% elif notification.type == 'error' %}
                    <i class="bi bi-x-circle text-danger"></i>
                {% elif notification.type == 'success' %}
                    <i class="bi bi-check-circle text-success"></i>
                {% elif notification.type == 'info' %}
                    <i class="bi bi-info-circle text-primary"></i>
                {% endif %}
              
              <div>
                <h4>{{ notification.title}}</h4>
                <p>{{notification.message}}</p>
                <p>{{notification.time_stamp}}</p>
              </div>
            </li>
           

            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
            

           

           
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li>
        <!-- End Notification Nav -->

      {% block sendToreciveemp %}
      <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" id="messagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number"></span>
          </a>
          <!-- End Messages Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" aria-labelledby="messagesDropdown">
              <li class="dropdown-header">
                  You have <span id="newMessagesCount"></span> new messages
                  <a href="#" data-bs-toggle="modal" data-bs-target="#sendMessageModal">
                      <span class="badge rounded-pill bg-primary p-2 ms-2"></span>
                  </a>
              </li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <!-- Messages will be loaded here via AJAX -->
              <div id="messagesContainer">
                  <!-- Messages will be dynamically inserted here -->
              </div>
              <li class="dropdown-footer">
                  <a href="{% url 'chat' %}">Show all messages</a>
              </li>
          </ul><!-- End Messages Dropdown Items -->
      </li>
      
 
      
     
      
      
      
      {% endblock %}

     
    
        <!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if request.user.profile.profile_picture %}
                   <img src="{{ request.user.profile.profile_picture.url }}" alt="Profile" class="rounded-circle">
            {% else %}
                   <img src="{% static 'images/faces/face28.png' %}" alt="Default Profile Picture">
            {% endif %}
            
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.email}}</h6>
              <span>{{ request.user.profile.title}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile" %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "update_profile" %}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "logoutdone" %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav>
    <!-- End Icons Navigation -->

  </header>
  {% endif %}

  {% endblock header %}

  <!----------------------------------Sidebar Start job seeeker-------------------------------------------------->
  
  {% block sidebar %}
  {% if request.user.is_jobseeker %} 
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "jobseeker_dash" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Home</span>
      </a>
     
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "update_resume" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Upload Resume</span>
      </a>
     
    </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "seeker_view_all_jobs" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>View All jobs</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "applied_job" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Applied job</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "status_track_seeker" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Status Tracker</span>
        </a>

      </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="{% url "jobseeker_dash" %}">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html">
            <i class="bi bi-circle"></i><span>Chart.js</span>
          </a>
        </li>
        
        {% comment %} <li>
          <a href="charts-echarts.html">
            <i class="bi bi-circle"></i><span>ECharts</span>
          </a>
        </li> {% endcomment %}
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "update_profile_job" %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li> {% endcomment %}
    <!-- End F.A.Q Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li> {% endcomment %}
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "register_seeker" %}">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "login_user" %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->

  </ul>

</aside>
<!-- ------------------------------------------- Sidebar employer---------------------------------------------- -->
{% elif request.user.is_employer %}
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "jobseeker_dash" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Home</span>
      </a>
     
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "update_company" %}">
        <i class="bi bi-journal-text"></i> <i class=""></i><span>Company</span>
      </a>
     
    </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "create_job_post" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Job post</span>
        </a>

      </li>
   
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "manage_jobs" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Manage Jobs</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url "job_application_list_stats" %}">
          <i class="bi bi-layout-text-window-reverse"></i><i class=""></i><span>Job Application List</span>
        </a>

      </li>
     

    <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url "jobseeker_dash" %}">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html">
            <i class="bi bi-circle"></i><span>Chart.js</span>
          </a>
        </li>
        
        {% comment %} <li>
          <a href="charts-echarts.html">
            <i class="bi bi-circle"></i><span>ECharts</span>
          </a>
        </li> {% endcomment %}
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "update_profile" %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li> {% endcomment %}
    <!-- End F.A.Q Page Nav -->

   

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "register_employer" %}">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url "login_user" %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li><!-- End Blank Page Nav -->

  </ul>

</aside>
{% endif %}
  {% endblock  %}

  <!--------------------------------------------------sidebar end both case-------------------------------------------------------------->

  
  {% block main %}
  {% if request.user.is_jobseeker %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <!-- Total Job Application Count -->
      <div class="row">
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">This Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">This Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">This Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Total Applied Job Application</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-briefcase"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="all-application-count">{{ all_application_count }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- Accepted Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Approved Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-briefcase"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="accepted-applications-count">{{ accepted_applications_counts }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- Rejected Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Rejected Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="rejected-applications-count">{{ rejected_applications_counts }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- Pending Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Pending Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-hourglass-split"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="pending-applications-count">{{ pending_applications_counts }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Reports Section -->
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Reports</h5>
                      <p>Filter: <span id="filter-title"></span></p>
                      <canvas id="reportsChart"></canvas>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Recent Activity Section -->
      <div class="row">
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start"><h6>Filter</h6></li>
              <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="week">This Week</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="month">This Month</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="year">This Year</a></li>
                <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| </span></h5>
            <div class="activity">
              {% for job in recently_applied_jobs %}
              <div class="activity-item d-flex">
                <div class="activite-label">{{ job.timestamp|timesince }}</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                  {{ job.job__title }}
                </div>
                 <div class="activity-content">
                  {{ job.user__username }}
                </div> 
              </div>
              <!-- End activity item-->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </section>
  

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   {% comment %} <script>
     document.addEventListener("DOMContentLoaded", () => {
         const filterLinks = document.querySelectorAll(".filter-link");
     
         filterLinks.forEach(link => {
             link.addEventListener("click", (e) => {
                 e.preventDefault();
                 const filter = e.target.getAttribute("data-filter");
     
                 fetch(`/job/total_count_c/?filter=${filter}`, {
                     headers: {
                         'X-Requested-With': 'XMLHttpRequest'
                     }
                 })
                 .then(response => response.json())
                 .then(data => {
                     console.log(data); 
                     document.getElementById("all-application-count").innerText = data.total_application;
                     document.getElementById("accepted-applications-count").innerText = data.accepted_applications_count;
                     document.getElementById("rejected-applications-count").innerText = data.rejected_applications_count;
                     document.getElementById("pending-applications-count").innerText = data.pending_applications_count;
                     document.getElementById("filter-title").innerText = data.filter_title;
     
                     const reportsChart = document.getElementById("reportsCharts");
                     reportsChart.innerHTML = ""; 
     
                     const chartData = data.chart_datas; 
                     const chart = new Chart(reportsCharts, {
                         type: 'bar',
                         data: {
                             labels: chartData.labels,
                             datasets: [{
                                 label: 'Applications',
                                 data: chartData.data,
                                 backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                 borderColor: 'rgba(54, 162, 235, 1)',
                                 borderWidth: 1
                             }]
                         },
                         options: {
                             scales: {
                                 y: {
                                     beginAtZero: true
                                 }
                             }
                         }
                     });
     
                    updateRecentActivity(data.recently_applied_jobs);
           })
           .catch(error => {
               console.error('Error fetching data:', error);
           });
       });
    });

      function updateRecentActivity(recentlyAppliedJobs) {
          const activityContainer = document.querySelector('.activity');
          activityContainer.innerHTML = '';
          recentlyAppliedJobs.forEach(job => {
              const activityItem = document.createElement('div');
              activityItem.classList.add('activity-item', 'd-flex');
              activityItem.innerHTML = `
                  <div class="activite-label">${new Date(job.timestamp).toLocaleString()}</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                      ${job.job__title} - ${job.user__username}
                  </div>
              `;
              activityContainer.appendChild(activityItem);
          });
      }
    });

  </script> {% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const filterLinks = document.querySelectorAll(".filter-link");

    filterLinks.forEach(link => {
        link.addEventListener("click", (e) => {
            e.preventDefault();
            const filter = e.target.getAttribute("data-filter");

            fetch(`/job/total_count_c/?filter=${filter}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Received data:', data);

                document.getElementById("all-application-count").innerText = data.all_application_count;
                document.getElementById("accepted-applications-count").innerText = data.accepted_applications_counts;
                document.getElementById("rejected-applications-count").innerText = data.rejected_applications_counts;
                document.getElementById("pending-applications-count").innerText = data.pending_applications_counts;
                document.getElementById("filter-title").innerText = data.filter_titles;

                updateReportsChart(data.chart_datas);
                updateRecentActivity(data.recently_applied_jobs);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        });
    });

    function updateReportsChart(chartData) {
        const reportsChart = document.getElementById("reportsChart");
        reportsChart.innerHTML = ""; 

        new Chart(reportsChart, {
            type: 'bar',
            data: {
                labels: ['Accepted', 'Rejected', 'Pending'],
                datasets: [{
                    label: 'Applications',
                    data: [chartData.data[0], chartData.data[1], chartData.data[2]],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function updateRecentActivity(recentlyAppliedJobs) {
        const activityContainer = document.querySelector('.activity');
        activityContainer.innerHTML = '';

        recentlyAppliedJobs.forEach(job => {
            const activityItem = document.createElement('div');
            activityItem.classList.add('activity-item', 'd-flex');
            activityItem.innerHTML = `
                <div class="activity-label">${new Date(job.timestamp).toLocaleString()}</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                    ${job.job__title} - ${job.user__username}
                </div>
            `;
            activityContainer.appendChild(activityItem);
        });
    }
});
 



</script>


  
   

  </main>
  <!---------------------------------------------------------Employer page------------------------------------------------>
  {% elif request.user.is_employer %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">
          <!-- Total Applied Users Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">This Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">This Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">This Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Total Applied Users</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-briefcase"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="applied-users-counts">{{ applied_users_count }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Accepted Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Approved Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-briefcase"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="accepted-applications-counts">{{ accepted_applications_count }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Rejected Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Rejected Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="rejected-applications-counts">{{ rejected_applications_count }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Pending Applications Count -->
          <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Pending Applications</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-hourglass-split"></i>
                          </div>
                          <div class="ps-3">
                              <h6 id="pending-applications-counts">{{ pending_applications_count }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Reports Chart -->
          <div class="col-12">
              <div class="card">
                  <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="week">Week</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="month">Month</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="year">Year</a></li>
                          <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Reports</h5>
                      <p>Filter: <span id="filter-titles">{{ filter_title }}</span></p>
                      <div>
                          <canvas id="reportsCharts"></canvas>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Recent Activity -->
          <div class="row">
            <div class="card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start"><h6>Filter</h6></li>
                  <li><a class="dropdown-item filter-link" href="#" data-filter="today">Today</a></li>
                    <li><a class="dropdown-item filter-link" href="#" data-filter="week">This Week</a></li>
                    <li><a class="dropdown-item filter-link" href="#" data-filter="month">This Month</a></li>
                    <li><a class="dropdown-item filter-link" href="#" data-filter="year">This Year</a></li>
                    <li><a class="dropdown-item filter-link" href="#" data-filter="all">All</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Recent Activity <span>| </span></h5>
                <div class="activity">
                  {% for job in recently_applied_jobs %}
                  <div class="activity-item d-flex">
                    <div class="activite-label">{{ job.timestamp|timesince }}</div>
                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                    <div class="activity-content">
                      {{ job.job__title }}
                    </div>
                     <div class="activity-content">
                      {{ job.user__username }}
                    </div> 
                  </div>
                  <!-- End activity item-->
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          
      </div>
  </section>

  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
          const filterLinks = document.querySelectorAll(".filter-link");
      
          filterLinks.forEach(link => {
              link.addEventListener("click", (e) => {
                  e.preventDefault();
                  const filter = e.target.getAttribute("data-filter");
      
                  fetch(`/job/total_count/?filter=${filter}`, {
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest'
                      }
                  })
                  .then(response => response.json())
                  .then(data => {
                      console.log(data); 
                      document.getElementById("applied-users-counts").innerText = data.applied_users_count;
                      document.getElementById("accepted-applications-counts").innerText = data.accepted_applications_count;
                      document.getElementById("rejected-applications-counts").innerText = data.rejected_applications_count;
                      document.getElementById("pending-applications-counts").innerText = data.pending_applications_count;
                      document.getElementById("filter-titles").innerText = data.filter_title;
      
                      const reportsChart = document.getElementById("reportsCharts");
                      reportsChart.innerHTML = ""; 
      
                      const chartData = data.chart_data; 
                      const chart = new Chart(reportsChart, {
                          type: 'bar',
                          data: {
                              labels: chartData.labels,
                              datasets: [{
                                  label: 'Applications',
                                  data: chartData.data,
                                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                  borderColor: 'rgba(54, 162, 235, 1)',
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                      });
      
                     updateRecentActivity(data.recently_applied_jobs);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        });
    });

    function updateRecentActivity(recentlyAppliedJobs) {
        const activityContainer = document.querySelector('.activity');
        activityContainer.innerHTML = '';
        recentlyAppliedJobs.forEach(job => {
            const activityItem = document.createElement('div');
            activityItem.classList.add('activity-item', 'd-flex');
            activityItem.innerHTML = `
                <div class="activite-label">${new Date(job.timestamp).toLocaleString()}</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                    ${job.job__title} - ${job.user__username}
                </div>
            `;
            activityContainer.appendChild(activityItem);
        });
    }
});

      </script>


  
  



  
  
                


      
        
    
        
        
         
              
                     


  
      
    
        


 
  <!-- End Section -->
  
  </main>
{% endif %}
  <!-- End #main -->
  {% endblock  %}
  <!-- ======= Footer ======= -->
  
  {% block footer %}
    
 
    
  <footer id="footer" class="footer">
  
  
  </footer><!-- End Footer -->
  {% endblock footer %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% block script %}
  <script src="{% static 'js/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'js/quill/quill.js'  %}"></script>
  <script src="{% static 'js/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'js/php-email-form/validate.js' %} "></script>

  <script src="{% static 'js/js/main.js' %}"></script>
  
   
  
      
    

  


    
  {% endblock %}
    

</body>

</html>