<table class="rwd-table">
    <tbody id="job-table-body">
        <tr>
            <th>Job title</th>
            <th>User</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        {% if jobs %}
        {% for job in jobs %}
        <tr>
            <td data-th="Job title">{{ job.job.title }}</td>
            <td data-th="Location">
                {{ job.user.jobseeker_profile.first_name }} {{ job.user.jobseeker_profile.last_name }}
            </td>
            <td data-th="Status">
                {% if job.status == 'Pending' %}
                <a href="{% url 'status_track_update_emp' job.id %}" class="btn btn-primary">{{ job.status }}</a>
                {% elif job.status == 'Accepted' %}
                <a href="{% url 'status_track_update_emp' job.id %}" class="btn btn-success">{{ job.status }}</a>
                {% else %}
                <a href="{% url 'status_track_update_emp' job.id %}" class="btn btn-danger">{{ job.status }}</a>
                {% endif %}
            </td>
            <td data-th="Date">{{ job.timestamp|date:"Y-m-d" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align: center;">No applications found</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
