{% load humanize %}
{% for job in object_list %}
<div class="job-details">
    <h2 style="color: black; font-size: 40px; font-weight:bold;">{{ job.title }}</h2>
    <p><strong>Company:</strong> {{ job.company.name }}</p>
    <p><strong>Location:</strong> {{ job.location }}</p>
    <div class='job-info-row'>
        <div class="button-field">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
            </svg>
            <strong>{{ job.salary }} a month</strong>
        </div>
        <div class="button-field1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
            </svg>
            <strong>{{ job.job_type }}</strong>
        </div>
    </div>
    <p><strong>Active:</strong> {{ job.timestamp|naturaltime }}</p>
    <a href="{% url 'seeker_viewmore' id=job.id %}" class="apply-now">Easily Apply</a>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
