{% extends 'Login/login.html' %}
{% block title %}
<title>Registration Page | Jobseeker</title>
{% endblock title %}
{% block style %}
  <style>
    #registration-form  div.valid-feedback {
      font-size: 20px;
      color: red;
       display: block;
    }
  
    input.error {
      border-color: red;
    }
  
    .valid-feedback {
      display: none;
    }
  </style>
  
  {% endblock style  %}

{% block message %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock message %}
{% block logintitle %}
<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Jobseeker Registration Form</h5>
    <p class="text-center small">Enter your Data given below.</p>
</div>
{% endblock logintitle %}
                {% block form %}
                  <form method="POST" id="registration-form" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                      
                    <label for="yourUsername" class="form-label">Email</label> 
                      
                    <input type="email" name="email" class="form-control" id="id_email" required>
                    <div class="invalid-feedback"></div>
                       
                    </div>
                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password1" class="form-control" id="id_password1" required>
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="id_password2" required>
                        <div class="invalid-feedback"></div>
                      </div>
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Register</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have a account? <a href="{% url "login_user" %}">Login </a></p>
                    </div>

                      
                      
                  </form>
                  {% endblock form %}
                  {% block script %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		
		 
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
			<script>
				$(document).ready(function() {
					$('#registration-form').validate({
						rules: {
							email: "required",
							password1: "required",  
							password2: "required",  
						},
						messages: {
							email: "please  enter valid email",
							password1: "please enter correct password ", 
							password2: "Re-enter your password", 
		
						},
						submitHandler: function(form) {
							
							form.submit();
						}
					});
			
					$('#datepicker').datepicker({
						dateFormat: 'yy-mm-dd',
						changeMonth: true,
						changeYear: true,
						yearRange: '-100:2010',
						maxDate: new Date(2010, 11, 31)
					});
				});
			</script>

{% endblock script %}