{% extends 'Login/login.html' %}
{% block title %}
<title>Forgot password | Users</title>
{% endblock title %}
{% block style %}
  <style>
    #registration-form  div.valid-feedback {
      font-size: 20px;
      color: red;
       display: block;
    }
  
    input.error {
      border-color: red;
    }
  
    .valid-feedback {
      display: none;
    }
  </style>
  
  {% endblock style  %}

{% block message %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock message %}
{% block logintitle %}
<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Forgot password</h5>
    <p class="text-center small">Please enter your email.</p>
</div>
{% endblock logintitle %}
                {% block form %}
                  <form method="POST" id="registration-form" novalidate>
                    {% csrf_token %}
                   
                    <div class="col-12">
                      
                      <label for="yourUsername" class="form-label">Complete </label>
                      {% comment %} <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span> {% endcomment %}
                        <h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url "login_user" %}">log in now</a>
</p>
                      {% comment %} </div>  {% endcomment %}
                    </div>
                    
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Send</button>
                    </div>
                   

                      
                      
                  </form>
                  {% endblock form %}
                  {% block script %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		
		 
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
			<script>
				$(document).ready(function() {
					$('#registration-form').validate({
						rules: {
							email: "required",
						 
						},
						messages: {
							email: "please  enter valid email",
							
		
						},
						submitHandler: function(form) {
							
							form.submit();
						}
					});
			
					$('#datepicker').datepicker({
						dateFormat: 'yy-mm-dd',
						changeMonth: true,
						changeYear: true,
						yearRange: '-100:2010',
						maxDate: new Date(2010, 11, 31)
					});
				});
			</script>

{% endblock script %}